body{
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(Images/login-bg.jpg);
    background-size: cover;
    background-blend-mode: color-dodge;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgb(219, 219, 219,0.4);
}
/*  nav-bar block */
/* ============================================================================ */

nav{
    margin: 0;
    position:static;
    width: inherit;
    height:60px;
    display: flex;
    background-color: beige;
}
.brand{
    width: auto;
    height: inherit;
    color: rgb(122, 26, 26);
    justify-self: center;
    align-content: center;
    /* background-color: aqua; */
}
.brand a{
    text-decoration: none;
    color: inherit;
    cursor: normal;
}
.q_a{
    position: relative;
    margin-left: auto;
    justify-self: end;
    width: 30%;
    display: flex;
    /* background-color: paleturquoise; */
    /* justify-content: space-between; */
    align-items: center;

}
.quote {
    width: max-content;
    height: inherit;
    text-align: end;
}
.quote p{
    padding-right: 10px;
    font-weight: 600;
}
.account{
    width: 30%;
    height: inherit;
    /* background-color: aquamarine; */
}
.account a{
    padding-left: 10px;
}
/* .user-opt{
    width: 80px;
    height: max-content;
    position: fixed;
    display: block;
    padding: 2px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    z-index: 1;
    opacity: 0;
}
.account :hover .user-opt{
    width: 80px;
    height: max-content;
    position: fixed;
    display: block;
    padding: 2px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    z-index: 1;
    opacity: 1;
    text-align: left;
} */

/* Banner block */
/* ============================================================================ */

.banner{
    margin: 0;
    width: 100%;
    height: 550px;
    /* padding: 20px 0px; */
    background-color: silver;
    border-bottom: 5px silver;
    border-bottom-style:inset ;

}
.banner .search-box {
    display: flex;
    position: absolute;
    margin:15px 5% 0px 60%;
    align-items: center;
    /* background-color: #fff;
    border: 2px solid #ccc; */
    border-radius: 8px;
    padding: 5px 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    z-index: 1;

}
.search-input {
    outline: none;
    width: 260px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    color: #252525;
    font-weight: 600;
    background-color:rgba(255, 255, 255, 0.7) ;
    flex: 1;
}

.search-button {
    background-color: #007BFF;
    color: white;
    border: none;
    margin-left: 2px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}/* button over */


/* Slider Container */
/* ========================================= */

.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slides {
    margin: 0;
    width: 100%;
    display: flex;
    transition: transform 0.8s ease-in-out;
    width: 400%;
}
.slide {
    margin: 0;
    width: 100%;
    height:550px ;
    position: relative;
    text-align: center;
}

.slide img {
  width: 100%;
  height: 550px;
}

.slide .text {
  position: absolute;
  bottom: 100px;
  left: 60px;
  text-align: left;
  background: rgba(252, 252, 252, 0.39);
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
}
.slide .text a{
  text-decoration: none;
}

/* Trending today section */
/* ============================================================================ */

.trending{
    width: 100%;
    height: max-content;
    padding: 10px 0px;
}
.trending h1{
    margin-left: 20px;
}
.trend-content{
    display: flex;
    width: 80%;
    height: max-content;
    padding: 20px 10%;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;

}
.trend-content-img{
    border: 2px whitesmoke;
    border-style: solid;
    position: relative;
    display: block;
    width: 70%;
    height: auto;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}
.trend-img-text {
    position: absolute;
    margin: 200px 10px 10px 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* .trend-content-img:hover{
    transform: scale(1.1);
} */

.trend-content .trend-detail{
    width: auto;
}

hr{
    width: 90%;
    color: black;
}

/* Most popular */
/* ============================================================================ */
.popular{
    width: 90%;
    height: max-content;
    padding: 1% 5%;
    justify-items: center;
    /* background-color: #007BFF; */
}

.popular .popular-box{
    width:inherit;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    justify-content: space-evenly;
    /* background-color: aqua; */
}

.popular-box .popular-content{
    position: relative;
    display: flex;
    width: 45%;
    margin: 10px 20px ;
    justify-content: space-around;
    border-radius: 10px;
    background-color: rgba(145, 145, 145, 0.6);
    transition: 0.3s ease-in-out;
}
.popular-content:hover{
    transform:scale(1.1);
}
.popular-box .popular-content img{
    /* border: 2px solid white; */
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    transition: .3s ease-in-out;
}
.popular-content:hover img{
    transform: scale(1.05);
}

/* All recipe section */
/* ============================================================================ */


.all-recipe{
    width: 90%;
    height: max-content;
    padding: 5%;
    /* background-color: aquamarine; */
}
.recipe-card-list{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(204, 204, 204, 0.555);
    border-radius: 10px;
    justify-content: space-evenly ;
}
.recipe-card{
    position: relative;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    background-color: beige;
    justify-content:center ;
    transition: 0.3s ease-in-out;
    /* align-items: center; */
}
.recipe-card:hover{
    transform:scale(1.05);
}
.recipe-card:hover img{
    transform: scale(1.05);
}
.recipe-card img{
    width: 80%;
    height: 200px;
    padding: 10%;
    border-radius: 10px;
    transition: .3s ease-in;
}
.recipe-card-details{
    width: 100%;
    padding-bottom: 10%;
    text-align : center;
} 

.recipe-card-details button{
    background-color: #FF7043;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.recipe-card-details button:hover{
    background-color: #FF5722;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
/* Contact */
/* ============================================================================ */
.contact{
    background-color: rgba(245, 245, 220, 0.658);
    border-top:3px solid black;
}
.contact h1{
    color: rgb(122, 26, 26);
}
.contact-links{
    width: 100%;
    padding: 20px 0;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
}
.contact-link{
    width: 30%;
    /* background-color: #007BFF; */
}
.contact a{
    text-decoration: none;
}
.contact svg{
    width: 40px;
    transition: transform 0.3s ease-in-out;
}
.contact svg:hover{
    transform: scale(1.15);
}
.contact .contact-mail-input{
    outline: none;
    width: 260px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    color: #252525;
    font-weight: 600;
    background-color:rgba(255, 255, 255, 0.7) ;
    flex: 1;
}
.contact .contact-mail-btn{
    background-color: #007BFF;
    color: white;
    border: none;
    margin-left: 2px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact-mail-btn:hover{
    background-color: rgb(0, 64, 160);
}
.redirects{
    width: 15%;
    height: 200px;
    justify-content: center;
    /* background-color: antiquewhite; */
}
.redirects a{
    color: grey;
    text-align: left;
    margin: 10px;
    display: block;
    text-decoration: none;
    transition: ease-in-out;
}
.redirects a:hover{
    font-weight: bold;
    color: black;
}
.abouts{
    width: 12%;
    height: 200px;
    justify-content: center;
    /* background-color: antiquewhite; */
}
.abouts a{
    color: gray;
    text-align: left;
    margin: 10px;
    display: block;
    text-decoration: none;
    transition: ease-in-out;

}
.abouts a:hover{
    font-weight: bold;

    color: black;
}
.auth{
    width: 90%;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}
.auth h4{
    color: rgb(122, 26, 26);
}
.auth a{
    padding: 20px;
}